body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
h1 {
    color: #575757;
    font-size: 60px;
    margin-top: 50px;
    line-height: 60px;
}
h1 span {
    color: #0387F7;
}
h2 {
    color: #575757;
    font-size: 40px;
    margin-top: 50px;
    line-height: 60px;
}
p {
    margin: 20px 20px 20px 0;
}
.button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #2DC6FD, #0387F7);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}
.banner {
    display: flex;
    justify-content: center;
    padding: 10px 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.description {
    width: 45%;
    padding: 40px 0;
}
.image {
    width: 45%;
}
.banner img {
    width: 100%;
}
.about img {
    height: auto;
    width: 300px;
}
.about {
    display: flex;
    justify-content: center;
    padding: 50px 50px 0 50px;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.recipies {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 50px 0;
}
.recipies .top {
    text-align: center;
    width: 50%;
}
.recipie__items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    width: 80%;
    margin-top: 25px;
}
.recipie__item {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(212, 210, 210);
}
.recipie__item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}